
<div style ="text-align: center;">
  <h2 class="text-center mb-4">Login with Facebook in Angular</h2>
</div>
<!--formulario para iniciar sesión-->
<div style="text-align: center;" *ngIf="!isLogin"> <!--cuando no este logueado muestra botón iniciar sesión (ngif)-->
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="logInWithFacebook()">Login with Facebook</button>
</div>

<div class="container" *ngIf="isLogin"> <!--si esta logueado NO muestra el botón iniciar serión (ngif)-->
  <div class="form-group">
    <label for="">First Name</label>
    <input type="text" class="form-control"  id="firstname" readonly [value]="socialUser.firstName">
  </div>
  <div class="form-group">
    <label for="">Last Name</label>
    <input type="text" class="form-control"  id="lastname" readonly [value]="socialUser.lastName">
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control"  id="email" readonly [value]="socialUser.email">
    <div style ="text-align: center;">
    </div>

    <div class="form-group">
      <label for="">photoUrl</label>
      <input type="text" class="form-control"  id="firstname" readonly [value]="socialUser.photoUrl">
    </div>

      <button type="button" class="btn btn-primary center" (click)="signOut()">Sign Out</button>
    </div>
</div>

  

